<style type="text/css">
.box-social{
    padding-top: 0;
    margin-left: 0;
    position: relative;
    top: 30px;
}
ul.footer_links {
    display: block;
}
.box-social a {
    margin-left: 11px;
}
.footer_links li a {
    font-size: 18px;
}
.footer_links li {
    padding: 20px 1.9%;
}
ul.footer_links.box-social a {
    display: block;
}
.footer_links li:first-child {
    padding-left: 0px;
}
ul.footer_links.box-social {
    padding: 0;
    margin: 0;
    margin-top: 18px;
}
@media screen and (max-width: 1200px) {
ul.footer_links {
    text-align: center;
}
ul.footer_links li {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.footer_links {
    margin: 0 !important;
    display: block;
}
.row.footerz>div {
    margin: 25px 0;
}
}
</style>   <br>
<div class="container">
<div class="row footerz">
    <div class="col-lg-9">
        <ul class="footer_links link-space">
            <li><a href="#"> <img src="./assets/images/FollowPage_1170px_03.png" class="center-block" alt=""> <br>SAY HELLO</a></li>
            <li><a href="#">MEET THE TEAM</a></li>
            <li><a href="#">TERMS OF USE & PRIVACY</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>
    <div class="col-lg-3 text-right">
            <ul class="footer_links box-social">
                <li><a href="https://twitter.com/bootsnipp"><img src="./assets/images/ico1.png"></a></li>
                <li><a href="https://www.facebook.com/bootsnipp"><img src="./assets/images/ico2.png"></a></li>
                <li><a href="https://plus.google.com/+Bootsnipp-page"> <img src="./assets/images/ico3.png"></a></li>
                <li><a href="mailto:bootsnipp@gmail.com"><img src="./assets/images/ico4.png"></a></li>
            </ul>
    </div>
    <div class="clearfix"></div>
</div>
</div>
<hr><br>
<div class="container">
    <div class="text-center">
        <img src="./assets/images/footer_img.png" alt="">
        <br>
        <br>
        <p class="copy-right">Copyright &copy; 2017 Fashbash. All Right Reserved.</p>
    </div>
</div>