
<app-header-2></app-header-2>

<div class="container-fluid main_border">
    <div class="container">
        <div class="row">
            <div class="menu_links box-menu">
                <ul class="nav nav-pills nav-justified ul-box">
                    <li><a routerLink="/user-profile">My Purchases</a></li>
                    <li><a routerLink="/feeds">The Feed</a></li>
                    <li class="active" ><a routerLink="/follow">People I Follow</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid back_colour">
    <div class="topHeader text-center">
        <h3>Currently on Fash Bash: <span>788</span> people <span>1,112</span> items</h3>
    </div>
</div>
        <div class="container- back_colour">
            <div class="container ">





        <div class="container fiters_">
            <div class="box-filter"><span><div class="dropdown">
  <button class="fiters_btn dropdown-toggle" type="button" data-toggle="dropdown">Filters
  <img src="../../assets/images/down--profile.png"></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div></span><div class="dropdown">
  <button class="fiters_btn dropdown-toggle" type="button" data-toggle="dropdown">Sort by
  <img src="../../assets/images/down--profile.png"></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>

        </div></div>

            <!-- 
                    <br><br><br> -->
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 mrgn_adj   col-xs-6">
                        <div class="mian_center">
                            <div class="main">
                                <div class="card-profile card-profile_2">
                                    <div class="card-profile_img">
                                        <img src="./assets/images/girl_face_1.png" alt="usr img" class="img-responsive">
                                    </div>
                                    <h3 class="card-profile-h card-profile-h_2">
                                    Jonah Smith
                                    </h3>
                                    <a href="javascript:;" class="btn btn-profile">follow</a>
                                </div>
                                <div class="card-bottom">
                                    <div class="row box-txt">
                                        <div class="col-xs-6">
                                            <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="font-span">Items</span> <span class="card-bottom_numbers">1,21</span>
                                        </div>
                                    </div>
                                    <div class="row box-txt">
                                        <div class="col-xs-6">
                                            <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="font-span">Spent</span> <span class="card-bottom_numbers">1,21</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div> <!--main div end-->
                        </div>
                        <div class="col-sm-3 mrgn_adj  col-xs-6">
                            <div class="mian_center">
                                <div class="main">
                                    <div class="card-profile card-profile_2">
                                        <div class="card-profile_img">
                                            <img src="./assets/images/men_face.png" alt="usr img" class="img-responsive">
                                        </div>
                                        <h3 class="card-profile-h card-profile-h_2">
                                        Jonah Smith
                                        </h3>
                                        <a href="javascript:;" class="btn btn-grey btn-profile">Unfollow</a>
                                    </div>
                                    <div class="card-bottom">
                                        <div class="row box-txt">
                                            <div class="col-xs-6">
                                                <span class="font-span" >Followers</span> <span class="card-bottom_numbers">1,211</span>
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="font-span">Items</span> <span class="card-bottom_numbers">1,21</span>
                                            </div>
                                        </div>
                                        <div class="row box-txt">
                                            <div class="col-xs-6">
                                                <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="font-span">Spent</span> <span class="card-bottom_numbers">1,21</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div> <!--main div end-->
                            </div>
                            <div class="col-sm-3 mrgn_adj  col-xs-6">
                                <div class="mian_center">
                                    <div class="main">
                                        <div class="card-profile card-profile_2">
                                            <div class="card-profile_img">
                                                <img src="./assets/images/girl_face_3.png" alt="usr img" class="img-responsive">
                                            </div>
                                            <h3 class="card-profile-h card-profile-h_2">
                                            Jonah Smith
                                            </h3>
                                            <a href="javascript:;" class="btn btn-profile">follow</a>
                                        </div>
                                        <div class="card-bottom">
                                            <div class="row box-txt">
                                                <div class="col-xs-6">
                                                    <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                                </div>
                                                <div class="col-xs-6">
                                                    <span class="font-span">Items</span> <span class="card-bottom_numbers">1,21</span>
                                                </div>
                                            </div>
                                            <div class="row box-txt">
                                                <div class="col-xs-6">
                                                    <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                                </div>
                                                <div class="col-xs-6">
                                                    <span class="font-span">Spent</span> <span class="card-bottom_numbers">1,21</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div> <!--main div end-->
                                </div>
                                <div class="col-sm-3 mrgn_adj  col-xs-6">
                                    <div class="mian_center">
                                        <div class="main">
                                            <div class="card-profile card-profile_2">
                                                <div class="card-profile_img">
                                                    <img src="./assets/images/men_face_4.png" alt="usr img" class="img-responsive">
                                                </div>
                                                <h3 class="card-profile-h card-profile-h_2">
                                                Jonah Smith
                                                </h3>
                                                <a href="javascript:;" class="btn btn-profile btn-grey">Unfollow</a>
                                            </div>
                                            <div class="card-bottom">
                                                <div class="row box-txt">
                                                    <div class="col-xs-6">
                                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">1,21</span>
                                                    </div>
                                                </div>
                                                <div class="row box-txt">
                                                    <div class="col-xs-6">
                                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">1,21</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div> <!--main div end-->
                                    </div>
                                </div>
                 




                                 <div class="row users_">
                    <div class="col-sm-3 mrgn_adj   col-xs-6">
                        <div class="mian_center">
                            <div class="main">
                                <div class="card-profile card-profile_2">
                                    <div class="card-profile_img">
                                        <img src="./assets/images/girl_face_1.png" alt="usr img" class="img-responsive">
                                    </div>
                                    <h3 class="card-profile-h card-profile-h_2">
                                    Jonah Smith
                                    </h3>
                                    <a href="javascript:;" class="btn btn-profile">follow</a>
                                </div>
                                <div class="card-bottom">
                                    <div class="row box-txt">
                                        <div class="col-xs-6">
                                            <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="font-span">Items</span> <span class="card-bottom_numbers">1,21</span>
                                        </div>
                                    </div>
                                    <div class="row box-txt">
                                        <div class="col-xs-6">
                                            <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="font-span">Spent</span> <span class="card-bottom_numbers">1,21</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div> <!--main div end-->
                        </div>
                        <div class="col-sm-3 mrgn_adj  col-xs-6">
                            <div class="mian_center">
                                <div class="main">
                                    <div class="card-profile card-profile_2">
                                        <div class="card-profile_img">
                                            <img src="./assets/images/men_face.png" alt="usr img" class="img-responsive">
                                        </div>
                                        <h3 class="card-profile-h card-profile-h_2">
                                        Jonah Smith
                                        </h3>
                                        <a href="javascript:;" class="btn btn-grey btn-profile">Unfollow</a>
                                    </div>
                                    <div class="card-bottom">
                                        <div class="row box-txt">
                                            <div class="col-xs-6">
                                                <span class="font-span" >Followers</span> <span class="card-bottom_numbers">1,211</span>
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="font-span">Items</span> <span class="card-bottom_numbers">1,21</span>
                                            </div>
                                        </div>
                                        <div class="row box-txt">
                                            <div class="col-xs-6">
                                                <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="font-span">Spent</span> <span class="card-bottom_numbers">1,21</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div> <!--main div end-->
                            </div>
                            <div class="col-sm-3 mrgn_adj  col-xs-6">
                                <div class="mian_center">
                                    <div class="main">
                                        <div class="card-profile card-profile_2">
                                            <div class="card-profile_img">
                                                <img src="./assets/images/girl_face_3.png" alt="usr img" class="img-responsive">
                                            </div>
                                            <h3 class="card-profile-h card-profile-h_2">
                                            Jonah Smith
                                            </h3>
                                            <a href="javascript:;" class="btn btn-profile">follow</a>
                                        </div>
                                        <div class="card-bottom">
                                            <div class="row box-txt">
                                                <div class="col-xs-6">
                                                    <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                                </div>
                                                <div class="col-xs-6">
                                                    <span class="font-span">Items</span> <span class="card-bottom_numbers">1,21</span>
                                                </div>
                                            </div>
                                            <div class="row box-txt">
                                                <div class="col-xs-6">
                                                    <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                                </div>
                                                <div class="col-xs-6">
                                                    <span class="font-span">Spent</span> <span class="card-bottom_numbers">1,21</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div> <!--main div end-->
                                </div>
                                <div class="col-sm-3 mrgn_adj  col-xs-6">
                                    <div class="mian_center">
                                        <div class="main">
                                            <div class="card-profile card-profile_2">
                                                <div class="card-profile_img">
                                                    <img src="./assets/images/men_face_4.png" alt="usr img" class="img-responsive">
                                                </div>
                                                <h3 class="card-profile-h card-profile-h_2">
                                                Jonah Smith
                                                </h3>
                                                <a href="javascript:;" class="btn btn-profile btn-grey">Unfollow</a>
                                            </div>
                                            <div class="card-bottom">
                                                <div class="row box-txt">
                                                    <div class="col-xs-6">
                                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">1,21</span>
                                                    </div>
                                                </div>
                                                <div class="row box-txt">
                                                    <div class="col-xs-6">
                                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">1,21</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div> <!--main div end-->
                                    </div>
                                </div>
             
                                              <div class="row users_" style="margin-bottom: 50px;">
                    <div class="col-sm-3 mrgn_adj   col-xs-6">
                        <div class="mian_center">
                            <div class="main">
                                <div class="card-profile card-profile_2">
                                    <div class="card-profile_img">
                                        <img src="./assets/images/girl_face_1.png" alt="usr img" class="img-responsive">
                                    </div>
                                    <h3 class="card-profile-h card-profile-h_2">
                                    Jonah Smith
                                    </h3>
                                    <a href="javascript:;" class="btn btn-profile">follow</a>
                                </div>
                                <div class="card-bottom">
                                    <div class="row box-txt">
                                        <div class="col-xs-6">
                                            <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="font-span">Items</span> <span class="card-bottom_numbers">1,21</span>
                                        </div>
                                    </div>
                                    <div class="row box-txt">
                                        <div class="col-xs-6">
                                            <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="font-span">Spent</span> <span class="card-bottom_numbers">1,21</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div> <!--main div end-->
                        </div>
                        <div class="col-sm-3 mrgn_adj  col-xs-6">
                            <div class="mian_center">
                                <div class="main">
                                    <div class="card-profile card-profile_2">
                                        <div class="card-profile_img">
                                            <img src="./assets/images/men_face.png" alt="usr img" class="img-responsive">
                                        </div>
                                        <h3 class="card-profile-h card-profile-h_2">
                                        Jonah Smith
                                        </h3>
                                        <a href="javascript:;" class="btn btn-grey btn-profile">Unfollow</a>
                                    </div>
                                    <div class="card-bottom">
                                        <div class="row box-txt">
                                            <div class="col-xs-6">
                                                <span class="font-span" >Followers</span> <span class="card-bottom_numbers">1,211</span>
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="font-span">Items</span> <span class="card-bottom_numbers">1,21</span>
                                            </div>
                                        </div>
                                        <div class="row box-txt">
                                            <div class="col-xs-6">
                                                <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="font-span">Spent</span> <span class="card-bottom_numbers">1,21</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div> <!--main div end-->
                            </div>
                            <div class="col-sm-3 mrgn_adj  col-xs-6">
                                <div class="mian_center">
                                    <div class="main">
                                        <div class="card-profile card-profile_2">
                                            <div class="card-profile_img">
                                                <img src="./assets/images/girl_face_3.png" alt="usr img" class="img-responsive">
                                            </div>
                                            <h3 class="card-profile-h card-profile-h_2">
                                            Jonah Smith
                                            </h3>
                                            <a href="javascript:;" class="btn btn-profile">follow</a>
                                        </div>
                                        <div class="card-bottom">
                                            <div class="row box-txt">
                                                <div class="col-xs-6">
                                                    <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                                </div>
                                                <div class="col-xs-6">
                                                    <span class="font-span">Items</span> <span class="card-bottom_numbers">1,21</span>
                                                </div>
                                            </div>
                                            <div class="row box-txt">
                                                <div class="col-xs-6">
                                                    <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                                </div>
                                                <div class="col-xs-6">
                                                    <span class="font-span">Spent</span> <span class="card-bottom_numbers">1,21</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div> <!--main div end-->
                                </div>
                                <div class="col-sm-3 mrgn_adj  col-xs-6">
                                    <div class="mian_center">
                                        <div class="main">
                                            <div class="card-profile card-profile_2">
                                                <div class="card-profile_img">
                                                    <img src="./assets/images/men_face_4.png" alt="usr img" class="img-responsive">
                                                </div>
                                                <h3 class="card-profile-h card-profile-h_2">
                                                Jonah Smith
                                                </h3>
                                                <a href="javascript:;" class="btn btn-profile btn-grey">Unfollow</a>
                                            </div>
                                            <div class="card-bottom">
                                                <div class="row box-txt">
                                                    <div class="col-xs-6">
                                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">1,21</span>
                                                    </div>
                                                </div>
                                                <div class="row box-txt">
                                                    <div class="col-xs-6">
                                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">1,21</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div> <!--main div end-->
                                    </div>
                                </div>


                                                            </div>
                                                            <div>
                                                                