<app-header-2></app-header-2>


<div class="container-fluid main_border">
		<div class="container">
			<div class="row">
				<div class="menu_links box-menu">
					<ul class="nav nav-pills nav-justified ul-box">
					  <li><a data-toggle="pill" href="#home" routerLink="/user-profile" >My Purchases</a></li>
					  <li class="active"><a data-toggle="pill" routerLink="/feeds">The Feed</a></li>
					  <li ><a data-toggle="pill" href="#menu2" routerLink="/follow">People I Follow</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" style="background: #fafafa;">
	<div class="container margin_adj">
		<!--<h3 class="text-center heaging_1">Currently on Fash Bash: <span  class="nav_adj">788</span> prople <span class="nav_adj">1,112</span> Items</h3>-->
		<div class="fiters_" style="margin-top: 20px;text-align: right;">
			<div class="box-filter"><span><div class="dropdown">
  <button class="fiters_btn dropdown-toggle" type="button" data-toggle="dropdown">Filters
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div></span><div class="dropdown">
  <button class="fiters_btn dropdown-toggle" type="button" data-toggle="dropdown">Sort by
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>

		</div></div>
                    <br>
     <div class="tab-content">
  <div id="home" class="tab-pane ">
    <h3>HOME</h3>
    <p>Some content.</p>
  </div>
  <div id="menu1" class="tab-pane fade  in active">
        <div class="container" id="slimtest1">
            <div class="row">
                    <div class="col-sm-3 col-xs-6 cardWrap_feed">
                        <p class="text-center p">Mezzo Rose Duvet Cover by Nynne Rosenvinge</p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o feed_star" aria-hidden="true"></i></p>

                        <div class="card feed_card">
                            <div class="card-img">
                                <img src="./assets/images/product.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                    <img src="./assets/images/face.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile">follow</a>
                            </div>
                     <div class="card-bottom text-center">
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">$21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                              <div class="col-sm-3 col-xs-6 cardWrap_feed">
                        <p class="text-center p">Mezzo Rose Duvet Cover by Nynne Rosenvinge</p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o feed_star" aria-hidden="true"></i></p>

                        <div class="card feed_card">
                            <div class="card-img">
                                <img src="./assets/images/product.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                    <img src="./assets/images/face.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile-unfollow">Unfollow</a>
                            </div>
                        <div class="card-bottom text-center">
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">$21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                              <div class="col-sm-3 col-xs-6 cardWrap_feed">
                        <p class="text-center p">Mezzo Rose Duvet Cover by Nynne Rosenvinge</p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o feed_star" aria-hidden="true"></i></p>

                        <div class="card feed_card">
                            <div class="card-img">
                                <img src="./assets/images/product.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                   <img src="./assets/images/face.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile-unfollow">Unfollow</a>
                            </div>
                        <div class="card-bottom text-center">
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">$21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                              <div class="col-sm-3 col-xs-6 cardWrap_feed">
                        <p class="text-center p">Mezzo Rose Duvet Cover by Nynne Rosenvinge</p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o feed_star" aria-hidden="true"></i></p>

                        <div class="card feed_card">
                            <div class="card-img">
                                <img src="./assets/images/product.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                    <img src="./assets/images/face.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile">follow</a>
                            </div>
                           <div class="card-bottom text-center">
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">$21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <br><br><br>
             <div class="row">
                    <div class="col-sm-3 col-xs-6 cardWrap_feed">
                        <p class="text-center p">Mezzo Rose Duvet Cover by Nynne Rosenvinge</p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o feed_star" aria-hidden="true"></i></p>

                        <div class="card feed_card">
                            <div class="card-img">
                                <img src="./assets/images/product.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                    <img src="./assets/images/face.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile-unfollow">Unfollow</a>
                            </div>
                     <div class="card-bottom text-center">
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">$21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                              <div class="col-sm-3 col-xs-6 cardWrap_feed">
                        <p class="text-center p">Mezzo Rose Duvet Cover by Nynne Rosenvinge</p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o feed_star" aria-hidden="true"></i></p>

                        <div class="card feed_card">
                            <div class="card-img">
                                <img src="./assets/images/product.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                    <img src="./assets/images/face.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile">follow</a>
                            </div>
                        <div class="card-bottom text-center">
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">$21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                              <div class="col-sm-3 col-xs-6 cardWrap_feed">
                        <p class="text-center p">Mezzo Rose Duvet Cover by Nynne Rosenvinge</p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o feed_star" aria-hidden="true"></i></p>

                        <div class="card feed_card">
                            <div class="card-img">
                                <img src="./assets/images/product.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                   <img src="./assets/images/face.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile-unfollow">Unfollow</a>
                            </div>
                        <div class="card-bottom text-center">
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">$21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                              <div class="col-sm-3 col-xs-6 cardWrap_feed">
                        <p class="text-center p">Mezzo Rose Duvet Cover by Nynne Rosenvinge</p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o feed_star" aria-hidden="true"></i></p>

                        <div class="card feed_card">
                            <div class="card-img">
                                <img src="./assets/images/product.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                    <img src="./assets/images/face.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile">follow</a>
                            </div>
                           <div class="card-bottom text-center">
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">$21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <br><br><br>
             <div class="row">
                    <div class="col-sm-3 col-xs-6 cardWrap_feed">
                        <p class="text-center p">Mezzo Rose Duvet Cover by Nynne Rosenvinge</p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o feed_star" aria-hidden="true"></i></p>

                        <div class="card feed_card">
                            <div class="card-img">
                                <img src="./assets/images/product.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                    <img src="./assets/images/face.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile">follow</a>
                            </div>
                     <div class="card-bottom text-center">
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">$21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                              <div class="col-sm-3 col-xs-6 cardWrap_feed">
                        <p class="text-center p">Mezzo Rose Duvet Cover by Nynne Rosenvinge</p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o feed_star" aria-hidden="true"></i></p>

                        <div class="card feed_card">
                            <div class="card-img">
                                <img src="./assets/images/product.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                    <img src="./assets/images/face.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile">follow</a>
                            </div>
                        <div class="card-bottom text-center">
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">$21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                              <div class="col-sm-3 col-xs-6 cardWrap_feed">
                        <p class="text-center p">Mezzo Rose Duvet Cover by Nynne Rosenvinge</p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o feed_star" aria-hidden="true"></i></p>

                        <div class="card feed_card">
                            <div class="card-img">
                                <img src="./assets/images/product.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                   <img src="./assets/images/face.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile">follow</a>
                            </div>
                        <div class="card-bottom text-center">
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">$21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                              <div class="col-sm-3 col-xs-6 cardWrap_feed">
                        <p class="text-center p">Mezzo Rose Duvet Cover by Nynne Rosenvinge</p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o feed_star" aria-hidden="true"></i></p>

                        <div class="card feed_card">
                            <div class="card-img">
                                <img src="./assets/images/product.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                    <img src="./assets/images/face.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile">follow</a>
                            </div>
                           <div class="card-bottom text-center">
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Items</span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Following</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6 box-2">
                                        <span class="font-span">Spent</span> <span class="card-bottom_numbers">$21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    
  </div>
  <div id="menu2" class="tab-pane fade ">
<h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
</div>
		

		<div>
<br><br><br><br><br>