<div class="container">
	  <!-- Trigger the modal with a button -->
	  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

	  <!-- Modal -->
	  <div class="modal fade text-center" id="myModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	      <div class="modal-body">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        	<div class="logo_p_adj">
	        	<img class="logo_adj" src="../../assets/images/logo.png">
	        	</div>
				<div class="line"></div>
	          <h3 class="msg_adj">Who would you like to invite??</h3>
	          <div class="form-group form_adj text-center">
	          	<span class="pos_adj"><span class="glyphicon ic_color_adj"><img src="../../assets/images/envelop-2.png" alt=""></span></span>
				<input type="email" class="form-control input_sizing input_adj" id="email" placeholder="Types in email addresses">
			   </div>
			   <div class="col-sm-12 ">
			   		<div class="col-sm-6">
			   			<img class="fb_logo_adj fb-btn" src="../../assets/images/fbt.png">
			   		</div>
			   		<div class="col-sm-6">
			   			<img class="fb_logo_adj twt-btn" src="../../assets/images/twit.png">
			   		</div>			   		
			   		
			   </div><br><br><br>
			   <div class="col-sm-12">
			   		<img class="insta_logo_adj btn-inst" src="../../assets/images/instat.png">
			   </div><br><br><br>
			   
			   <div class="col-sm-12">
			   		<button class="button_send btn-md">SEND INVITE</button>
			   </div><br><br><br><br><br><br><br>
				
	        </div>
	        
	        
	      </div>
	      
	    </div>
	  </div>
	  
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Open Modal</button>

	  <!-- Modal -->
	  <div class="modal fade text-center" id="myModal1" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	      <div class="modal-body">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        	<div class="logo_p_adj">
	        	<img class="logo_adj" src="../../assets/images/logo.png">
	        	</div>
				<div class="line"></div>
	          <h3>where would we send you the password?</h3>
	          <div class="form-group form_adj second-input">
	          	<span class="pos_adj"><span class="glyphicon ic_color_adj"><img src="../../assets/images/envelop-2.png" alt=""></span></span>
				<input type="email" class="form-control input_sizing input_adj" id="email" placeholder="Types in email addresses">
			   </div>
			   
			   <div class="col-sm-12 margin-btm">
			   		<button class="button_send  btn-md btn-rounded">GET MY PASSWORD</button>
			   </div><br><br><br><br><br><br>

	        </div>
	        
	        
	      </div>
	      
	    </div>
	  </div>


	  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#thank">Open Modal</button>

	  <!-- Modal -->
	  <div class="modal fade text-center" id="thank" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	      <div class="modal-body">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        	<div class="logo_p_adj">
	        	<img class="logo_adj" src="../../assets/images/logo.png">
	        	</div>
				<div class="line"></div>
	        	<h3>THANK YOU</h3>
	          <h3>We will take you to the Feed now.</h3>
	          <br>
	          <br>
	        </div>
	        
	        
	      </div>
	      
	    </div>
	  </div>


	  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#submit">Open Modal</button>

	  <!-- Modal -->
	  <div class="modal fade " id="submit" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	      <div class="modal-body">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        	<div class="logo_p_adj">
	        	<img class="logo_adj center-block" src="../../assets/images/logo.png">
	        	</div>
				<div class="line"></div>
	          <h4 class="text-center">HI JOHN SMITH, WELCOME TO FASH BASH :)</h4>
	          <h5 class="h5_text_adj text-center">Just to make sure we can pull your purchases,<br>
	          what eamil do you use for purchases</h5>
	          <div class="form-group form_adj">
	          	<span class="pos_adj"><span class="glyphicon ic_color_adj"><img src="../../assets/images/envelop-2.png" alt=""></span></span>
				<input type="email" class="form-control input_sizing input_adj" id="email" placeholder="your email">
			   </div>
			   
			   <div class="col-sm-12 text-center">
			   		<button class="button_send center-block btn-md">SUBMIT EMAIL</button>
			   </div><br><br><br>
			   
				<div class=" box-wrap">
			   <div class="bord_bottom_adj"><img src="../../assets/images/border-top.png"></div>
			   	<div class="pop_ing_div">
			   		<div class="iner-box"><div class="number_adj"> 1</div>
			   		<span class="pop_up_adj_num_txt">in 5 seconds, you will be at your feed <br>
					   		where you can see everyone's<br>
					   		purchases</span></div>
							</div>
					   		<br>
							<div class="pop_ing_div bg">
			   		<div class="iner-box"><div class="number_adj"> 2</div>
			   		<div class="pop_up_adj_num_txt" >in 5 seconds, you will be at your feed <br>
					   		where you can see everyone's<br>
					   		purchases</div></div>
							</div>
					   		<br>	
							<div class="pop_ing_div">
			   		<div class="iner-box"><div class="number_adj"> 3</div>
			   		<span class="pop_up_adj_num_txt">in 5 seconds, you will be at your feed <br>
					   		where you can see everyone's<br>
					   		purchases</span></div>
							</div>
			   		
			   	</div>
				<div class="col-sm-12 text-center">
			   		<h2>Enjoy! :)))</h2>
			   	</div>
				</div><br><br><br><br>
			   	
			 <!-- 			   <div class="col-sm-8 col-sm-offset-4">
			   	<div class="col-sm-2">
			   	<div class="number_adj"> 1</div>
			   	</div>
			   <span>in 5 seconds, you will be at your feed <br>
					   		where you can see everyone's<br>
					   		purchases</span>
			   <br>
	        </div>
	         -->

	        
	      </div>
	      
	    </div>
	  </div>
	</div>
		