<app-header></app-header>
        <div class="container-fluid" style="position: relative;">
        <div class="row" style="background:#444;">
            <div class="container" style="background: url('./assets/images/hero-bg.png') no-repeat;background-position: right;background-size: 70% 100%;">
                <div class="bgz"></div>
                <div class="col-sm-5 bg-wrap">
                    <div class="hero-section-left">
                        <p class="left-txt wh-1">WHERE DO YOUR FAVORITE</p>
                        <h2 id="" class="blue_txt fittext3">Fashionistas</h2>
                        <h3 class="left-txt wh-2"><strong>BUY THEIR STUFF FROM?</strong></h3>
                        <p class="left-txt realtimep"><strong>Real people</strong> sharing their real purchases in <strong>real time</strong>.</p>
                        <button class="btn btn-custom to left-txt btn-join"  data-toggle="modal" data-target="#register">JOIN FASHBASH</button>
                    </div>
                </div>
                <div class="col-sm-6 bg-wrap-right">
                    <div class="col-sm-6 col-xs-6 box-p-h">
                        <div class="box-pro">
                        <p class="text-center p">Mezzo Rose Duvet Cover by <span style="font-weight:normal;">Nynne Rosenvinge</span></p>
                        <p class="text-center price">$324 <i style="color:#fff;" class="fa fa-star-o" aria-hidden="true"></i></p>

                        <div class="card">
                            <div class="card-img">
                                <img src="./assets/images/card-2.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                    <img src="./assets/images/userz.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile">follow</a>
                            </div>
                            <div class="card-bottom">
                                <div class="row box-txt">
                                    <div class="col-xs-6">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="font-span">Following </span> <span class="card-bottom_numbers">121</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6">
                                        <span class="font-span"> Items </span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="font-span">Spent  </span> <span class="card-bottom_numbers">$1,421</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6 col-box box-p-h">
                        <div class="box-pro">
                        <p class="text-center p">Mezzo Rose Duvet Cover <span style="font-weight:normal;">by Nynne Rosenvinge</span></p>
                        <p class="text-center price"> $200 <i style="color:#fff;" class="fa fa-star-o" aria-hidden="true"></i></p>
                        <div class="card">
                            <div class="card-img">
                                <img src="./assets/images/card.png" alt="pro img" class="img-responsive img-cardz">
                                <a href="javascript:;" class="btn btn-view">View Item</a>
                            </div>
                            <div class="card-profile">
                                <div class="card-profile_img">
                                    <img src="./assets/images/userz2.png" alt="usr img" class="img-responsive">
                                </div>
                                <h3 class="card-profile-h">
                                    Jonah Smith
                                </h3>
                                <a href="javascript:;" class="btn btn-profile">follow</a>
                            </div>
                            <div class="card-bottom">
                                <div class="row box-txt">
                                    <div class="col-xs-6">
                                        <span class="font-span">Followers</span> <span class="card-bottom_numbers">1,211</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="font-span">Following </span> <span class="card-bottom_numbers">121</span>
                                    </div>
                                </div>
                                <div class="row box-txt">
                                    <div class="col-xs-6">
                                        <span class="font-span"> Items </span> <span class="card-bottom_numbers">54</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="font-span">Spent  </span> <span class="card-bottom_numbers">$1,421</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>