
/* banner css */
.card {
    overflow: hidden;

    font-family: "Montserrat";

    border-radius: 5px !important;
    background: white;
}

.card-img {
    position: relative;
}

.img-cardz {
  padding: 0px 15px;
}

.btn-view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 50px;
    max-width: 64%;
    padding-top: 9px;
    margin: auto;

    font-family: Montserrat;
    font-size: 18.75px;
    font-weight: 700;

    transition: all .4s;
    text-align: center;
    text-transform: uppercase;

    color: white;
    border: 3px solid white;
    background: rgba(255, 255, 255, 0);

}


.btn-view:hover {
    color: white;
    background: #77d2d0;
}

h3.card-profile-h {
    margin-top: 50px;

    font-size: 16px;

    text-align: center;
}

 
 .container-fluid.main_border {
    padding: 13px 0;
    border-bottom: 1px solid #ECECEC;
    border-top: 1px solid #ECECEC;
}
.menu_links .nav>li>a{
  color: #575757;
  font-family: 'Montserrat';
  transition: 0.4s all;
  font-size: 16px;
}
.menu_links .nav>li>a:hover{
  background: transparent;
  color: #77D2D0;
  /*border-bottom: 2px solid #77D2D0;*/
}
.back_colour{
  background: #FAFAFA;
}
.heaging_1{
    font-family: 'Montserrat';
    padding: 70px 0;
    font-size: 30px;
}
.nav_adj{
  color:  #77D2D0;
  font-weight: bold;
}
.fiters_ div{
  display: inline-block;
  /*margin: 5px 5px;*/
    /*margin-top: 20px;*/
    text-align: right;
}
.fiters_btn{
  background: transparent;
  color: #000;
    font-family: 'Montserrat';
    border:0;
    box-shadow: 0;
    font-size:18px;
}
.main{
      font-family: 'Montserrat';
}
.card-profile_2{
  border-color:rgba(0,0,0,0);
}
.card-profile-h_2{
  margin-top: 55px !important;
}
.users_{
  margin-top: 100px;
}
.box-pro{
    width: 95%;
    margin: 0px auto;
}
.col-box{
    padding-left: 10px;
    padding-right: 20px;
}
.box-txt{
    padding-bottom: 10px;
    padding-top: 5px;
}
.font-span{
    font-weight: bold;
}
.box-txt span{
    font-size: 12px;
}
.box-social{
    padding-top: 15px;
	margin-left:40px;
    
    position: relative;
    top: 30px;
}
.copy-right{
    color: #575757;
}
ul.link-space{
    padding-left: 0px;
}

/*cardWrap_feed  start*/

/* card area */


.card-profile {
    position: relative;

    height: 125px;

    border-top: 1px solid #e7e7e7;
    border-right: 0;
    border-left: 0;
}

.card-profile_img img {
    width: 85px;
    height: 85px;
    margin: auto;

    border: 2px solid white;
    border-radius: 50%;
}

.card-profile_img {
    position: absolute;
    top: -44px;
    right: 0;
    left: 0;
}
.card-bottom {
    padding: 15px 10px;

    font-size: 14px;

    border-top: 1px solid #e7e7e7;
}

span.card-bottom_numbers {
    font-weight: bold;

    color: #77d2d0;
}
.footer_links {
    /*display: inline-block;*/

    list-style-type: none;
}
.footer_links li {
    display: inline-block;
    padding: 20px 15px;
}
.footer_links li a {
    font-family: "Montserrat";

    color: #4c4949;
    font-size: 17px;
}
/* btns */

.btn-profile {
    display: block;
    max-width: 80px;
    padding: 4px 0;
    margin: auto;

    color: white;
    background: #77d2d0;
}

.cardWrap_feed p:first-child{
  color: #000;
   font-family: 'Montserrat';
   padding: 0 10px;
}
.feed_card{
  border:1px solid #eee;
  border-radius: 0 !important;
}
.feed_star{
  color: #E1E1E1 !important;
  font-weight: bold;
}

.price {
    font-size: 21px;
    font-weight: bold;
 font-family: 'Montserrat';
    color: #77d2d0;
}

i.fa.fa-facebook.fa-3x.social {
    margin-left: -12px;
}


.profile_img{
  max-height: 250px;
  max-width: 260px;
  border:5px solid #fff;border-radius: 100%;overflow: hidden;
}
.profile_img img{
  width: 100%;
}
.profile_Div{
  padding: 36px 0px 30px 0px;
}
.user_detail{
      text-align: left;
    padding: 60px 0;
}
/*cardWrap_feed  start*/


/*Inner-Header-menu start*/

.menu_links {
    text-align: center;
    font-size: 16px;
}

.container-fluid.main_border {
    padding-bottom: 0;
}
.f_Details{
  text-align: left;
  font-weight: bold;
  font-family: 'Montserrat';
  padding: 90px 0;
}
.row_1{
  padding-bottom: 20px;
  font-size: 18px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background:transparent;

}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background:transparent;
  color: #000;
}
.nav-pills.ul-box>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background:transparent;
  color: #77d2d0 !important;
}
.menu_links .active a{
   border-bottom: 3px solid #77d2d0;
    color: #77d2d0;
}
/*Inner-Header-menu end*/


.ul-box{
    width: 100%;
}
.box-menu{
    width: 100%;
	max-width:860px;
    margin: 0px auto;
}
.box-menu{
    font-size: 20px;
}
.caret{
    border-top:4px dashed #77d2d0 !important;
}
.user_detail p{
    font-size: 21px;
}
.user_detail .btn-default{
    background-color:#eeeeee !important;
    padding:7px 30px;
    border:0;
    font-family:"Montserrat";
}
.card-profile-3{
	background:transparent !important
}

.cart-border .card-img{
	background:#fff;
	border:1px solid #eee;
	border-radius:10px;
}
.card-profile-3 p.text-center.p{
	font-size:16px;
	padding:30px 27px 0px 27px;

}
.user_detail h2{
	font-family:"Montserrat";
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1;
    font-size: 29px;
}
#myNavbar .btn{
	border-radius:6px !important;
}
.box-social img:hover{
	width:28px !important;
	height:28px !important;
}
.fa-star-o{
	font-weight:bolder !important;
}
.col-sm-6.col-sm-offset-1.text-center.h-img {
    margin-left: 14%;
}
.user_detail img{
    margin-right: 5px;
}
.follow{
    font-weight: normal;
}
ul.nav.nav-pills.ul-box li a {
    border-radius: 0px;
}
.btn{
    border-radius: 5px !important;
}
ul.nav.nav-pills.ul-box li {
    padding: 0px 60px;
}
ul.nav.nav-pills.ul-box li a{
    font-size:21px !important;
    padding-bottom: 25px;
    padding-top: 19px;
    border-width: 5px;
}


/* by rm  */
span.follow {
    font-size: 20px;
}

span.card-bottom_numbers {
    font-size: 19px;
}

.user_detail>div {
    margin-bottom: 22px;
}

.profile_img {
    width: 250px;
    text-align: center;
    margin: auto !important;
    padding: 1%;
    border: 1px solid #ebebeb !important;
    background: white;
    height: 250px;
}

img.center-block {
    height: 100% !important;
    border-radius: 100%;
    width: 100% !important;
    margin: auto;
}

.user_detail p {
    font-size: 19px;
    margin-bottom: 15px;
}

.user_detail a.btn.btn-default {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    line-height: 1.6;
    color: #979797;
}
button.fiters_btn.dropdown-toggle {
    margin: 0 !important;
    padding: 0 !important;
    margin-left: 40px !important;
}

.container.fiters_ {
    margin-top: 50px;
    text-align: right;
    margin-bottom: 40px;
}
.btn-view {
    border-radius: 0 !important;
}
a.btn.btn-view {
    font-size: 16.5px;
    line-height: 1.4;
    padding-bottom: 0px !important;
    height: 45px;
}
p.text-center.p span {
    display: block;
}
p.text-center.price img {
    max-width: 18px;
    vertical-align: text-top;
    margin-top: 3px;
}
/* Responsive */

@media screen and (max-width:768px){
	.navbar.myNav .container-fluid{
		width:50% !important;
		
	} 
	.navbar-header{
		float:none !important;
	}
	.main-btn{
		padding-right:0px !important;
	}
	.btn-join-2{
		width:110px !important;
		padding:10px !important;

	}
	.btn-custom{
		width:110px !important;
	}
	.img-cardz{
		margin:0px auto !important;
	}
	.btn.btn-custom.to.left-txt.btn-join{
		width:250px !important;
	}
	.btn-join-2{
		margin-left:5px !important;
	}
	.box-social{
		padding-top:0px !important;
		margin-left:0px !important;
	}
        .box-p-h{
		padding:0px !important;
	}
    .navbar-toggle{
        display: none;
    }
    .navbar-toggle{
        display: none;
    }
    .text-center.p{
        font-size: 16px !important;
    }
}
@media screen and (max-width: 1100px) and (min-width: 769px) {
	.card-bottom_numbers{
		width:100%;
		float:left
	}
    .text-center p{
        font-size: 16px !important;
    }

}
@media screen and (max-width: 1200px) and (min-width: 769px) {
	.box-social{
		
		margin-left:0px !important;
	}
	.col-box{
		padding:0px !important;
	}
	.box-p-h{
		padding:0px !important;
	}
        .profile_img{
        max-height: 135px !important;
        max-width: 135px !important;
    }
    .user_detail{
        padding: 0px;
    }
    .f_Details{
        padding:24px 0px;
    }
    .main-btn{
        padding-right: 10px !important;
    }
  
}
@media screen and (max-width:500px) {
    .wh-1{ 
        font-size: 18px;
    }
    .wh-2{
        font-size: 18px;
    }
    .blue_txt{
        font-size: 50px;
    }
    .card-img {
        position: relative;

        height: 250px;
        overflow: hidden;
    }
	.nav_search{
		position:initial !important;
		width:80%;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		margin:0px auto !important;
	}
        .box-p-h{
            padding: 0px !important;
        }
        .btn-view{
            max-width:82%;
            font-size: 14.75px;
        }
        .box-txt span{
            font-size:10px;
        }
        .profile_img{
            max-width:200px;
            max-height: 200px;
        }
        .row_1{
            font-size:17px; 
        }
        .col-sm-3.col-xs-6.cardWrap_feed{
            width: 100% !important;
        }

}
@media screen and (max-width: 1100px) and (min-width: 501px) {
    .blue_txt{
        font-size: 60px;
    }
    .card-img {
        position: relative;

        height: 250px;
        overflow: hidden;
    }
     .wh-1{ 
        font-size: 22px;
    }
    .wh-2{
        font-size: 22px;
    }
	ul.footer_links i {
	padding:0px 5px;
	}
	.footer_links li a{
		font-size:10px;
	}
	.btn-view{
		padding-top:16px;
		font-size:10.75px;
	}
	.img-cardz{
		padding:0px;
	}
	.box-menu{
		font-size:12px !important;
		}
	.footer_links{
		padding-left:0px;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1101px) {
	.box-txt span{
		font-size:10px !important;
	}
	.blue_txt{
		font-size:72px;
	}
	.footer_links li a{
		font-size:14px;
	}
	.footer_links{
		padding-left:0px;
	}
}
@media only screen and (max-width: 992px) {
    body {
        font-size: 10px;
    }
    .card-bottom {
        font-size: 7px;
    }
   
	.footer_links{
		padding-left:0px;
	}
	.btn-join-2{
		padding:9px !important;
	}
}

@media screen and (max-width: 767px) {
    .footer_links li {
        display: block;
        padding-bottom: 0;
        padding-left: 0;
    }
    ul.footer_links {
        display: block;

        text-align: center;
    }
    .card {
        margin-bottom: 20px;
    }
    .bg-wrap {
        padding: 20px 0;
    }
}


/* by RM  */
@media screen and (max-width: 1200px) {
    .user_detail .btn-default {
    background-color: #eeeeee !important;
    padding: 0px 20px;
}
.profile_img{
    max-height: 200px;
    max-width: 200px;
}
.user_detail {
    padding-top: 45px !important;
}
ul.nav.nav-pills.ul-box li a {
    font-size: 18px !important;
}
button.fiters_btn.dropdown-toggle {
    font-size: 16px;
}
a.btn.btn-view {
    font-size: 13px !important;
    padding-top: 11px;
}
.card-profile-3 p.text-center.p {
    font-size: 13px;
    }
    .price {
    font-size: 17px;
}
p.text-center.price img {
    margin-top: -1px;
}
.user_detail div {
    margin-bottom: 16px;
}
span.card-bottom_numbers {
    width: initial;
    float: none;
}
.user_detail a.btn.btn-default {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    font-size: 12px;
}
    .user_detail h2 {
    font-size: 24px;
}
.user_detail p {

    font-size: 16px;
}
ul.footer_links.link-space {
    text-align: center;
}
}


@media screen and (max-width: 992px) {
.user_detail .btn-default {
    background-color: #eeeeee !important;
    padding: 0px 20px;
}
.profile_img{
    max-height: 150px;
    max-width: 150px;
}
.user_detail {
    padding-top: 45px !important;
}
.user_detail h2 {
    font-size: 17px;
}

.user_detail p {
    font-size: 11px !important;
}

span.follow, span.card-bottom_numbers {
    font-size: 16px !important;
}

.user_detail a.btn.btn-default {
    font-size: 9px !important;
    padding-right: 6px;
    padding-left: 11px;
}

.user_detail a.btn.btn-default img {
    max-width: 16px;
    margin: 0;
    position: static;
    margin-bottom: -1px;
}
ul.nav.nav-pills.ul-box li a {
    font-size: 15px !important;
    padding-right: 10px;
    padding-left: 10px;
}
button.fiters_btn.dropdown-toggle {
    font-size: 14px;
}
button.fiters_btn.dropdown-toggle img {
    margin-left: 5px;
}
.cart-border .card-img {
    height: initial;
}
a.btn.btn-view {
    padding: 5px !important;
    height: 30px !important;
    max-width: 64% !important;
    font-size: 11px !important;
}
.card-profile-3 p.text-center.p {
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
}
p.text-center.price {
    font-size: 14px;
}
}