
.wrap-coming{
    width: 100%;
    float: left;
    background-image: url('../../assets/images/left-side.png'), url('../../assets/images/right-side.png');
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: contain,contain;
    margin-top: -45px;

}

.box-comming{
    width: 100%;
    float: left;
}
.container-coming{
    max-width: 550px;
     width:  90%;
    margin: 0px auto;
    padding-top: 165px;
}
.coming-top-txt{
    width: 80%;
    margin: 0px auto;
    text-align: center;
     font-family: "Montserrat";
}
.coming-top-txt p{
    color: #000;
    font-size: 30px;
}
.coming-top-txt-2 p{
    font-family: "Montserrat";
    color: #000;
    font-size: 20px;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 20px;
}
.coming-input{
    width: 85%;
    margin: 0px auto
}
.coming-input input{
    background: url('{{invelop}}');
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    padding: 10px 10px 10px 47px;
    border: solid 1px #d8d4d3;
    background-size: 31px;
    background-color: #fff;
}
.button-comming{
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 115px;
}
.button-comming .coming-btn{
    padding: 10px 75px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    background: #77d2d0;
    border: 0px;
    border-radius: 7px;
    margin-top: 50px;
}

@media screen and (max-width:600px){
    .wrap-coming{
        background-size:50% 100%;
    }
    .button-comming .coming-btn{
        padding: 10px 40px;
    }

}
@media screen and (max-width: 960px) and (min-width: 601px) {
    .wrap-coming{
        background-size:35% 100%;
    }
}
.invelop{
   position: absolute;
    max-inline-size: 25px;
    top: 12px;
    left: 9px;;
}
.email-c{
    height: 45px;
    font-family: "Montserrat";
}