<app-header-3></app-header-3>

<div class="wrap-coming" >
<div class="container-fluid">
  <div class="box-comming">
    <div class="container-coming">
        <div class="coming-top-txt">
          <p>Think you have what it takes to be on <span style="font-weight: bold;">FASH</span><span style="color:#5dc6c9;font-weight: bold;">BASH?</span></p>
        </div>
        <div class="coming-top-txt-2">
          <p>Leave your email here to receive an invitation</p>
        </div>
        <div class="coming-input" style="position: relative;">
          <img src="../../assets/images/envelop-2.png" class="invelop" alt="">
          <input type="email" class="email-c" name="email" placeholder="Your Email">
        </div>
        <div class="button-comming">
            <input type="button" class="coming-btn" name="submit" value="GET INVITED">
        </div>
    </div>
  </div>
</div>
</div>